@{
	ViewBag.Title = "About";
}

<div class="jumbotron">
	<h1 class="display-4">We only hire the best of the best for our staff to provide excellent education to our students.</h1>
	<hr class="my-4">
	<p>Click below if you want to see our current website and what's going on with The Tech Academy today!</p>
	<a class="btn btn-primary btn-lg" href="https://www.learncodinganywhere.com/" role="button">Our website</a>
</div>

<hr class="my-4">

<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Relevant guides:</h4>
	<p>
		We like our staff to be prepared for any situation or at least know where to find the answer!
		So these descriptions and links below should give some guide for some general staff questions.
	</p>
</div>

<hr class="my-4">

<div class="card">
	<div class="card-body">
		<h4>
			If a student is struggling with something non-teacher oriented please direct them to an appropriate staff member/department
			or our frequently asked question page found here:
		</h4>
		<br />
		<center>
			<button type="button" class="btn btn-primary" href="https://www.learncodinganywhere.com/Home/FAQ">Click Here!</button>
		</center>
	</div>
</div>

<hr class="my-4">

<div class="card">
	<div class="card-body">
		<h4>
			If a potential student approaches you asking about enrollment please reference them to our enrollment department and
			show them our sample course found below:
		</h4>
		<br />
		<center>
			<button type="button" class="btn btn-primary" href="https://www.learncodinganywhere.com/Home/SampleCourse">Click Here!</button>
		</center>
	</div>
</div>

<hr class="my-4">

<div class="card">
	<div class="card-body">
		<h4>
			If you are asked about our current books, please reference our students to this link or an appropriate similar link found
			on Amazon, Ebay... etc. Additionally, please read up on these books to know what they contain so you can describe them to others.
		</h4>
		<br />
		<center>
			<button type="button" class="btn btn-primary" href="https://www.learncodinganywhere.com/Home/BookSeries">Click Here!</button>
		</center>
	</div>
</div>

<hr class="my-4">

<div class="card">
	<div class="card-body">
		<h4>
			If a company approaches you with interest in hiring a graduate of ours, please direct them to this link and alert our
			job placement director.
		</h4>
		<br />
		<center>
			<button type="button" class="btn btn-primary " href="https://www.learncodinganywhere.com/partnerships/HireGraduates">Click Here!</button>
		</center>
	</div>
</div>
<hr class="my-8">

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<footer>
	<strong>If you have further questions not listed on this site, please direct them to your immediate supervisor or a fellow instructor.</strong>
</footer>

