@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
		<h1>The Tech Academy</h1>
		<h3>Instructor Access</h3>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Student management</h2>
		<p>
			This is a website dedicated to the instructors of the Tech Academy and their work with the students.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Database</h2>
		<p>
			This site contains a state of the art database for managing student grades, progress, and records.
		</p>
	</div>
	<div class="col-md-4">
		<h2>External needs</h2>
		<p>
			The Tech Academy firmly believes in encouraging students to constantly research. So we've included some of
			our favorite sites to supplement for student learning.
		</p>
	</div>
</div>

<div class="jumbotron">
	<h2>Brush up on our company's history in the readings found below.</h2>
	<h3>General Info:</h3>
	<p>
		The Tech Academy is a computer programming and web development school established
		in 2014 and headquartered in Portland, Oregon.
		We deliver coding boot camps that bring about graduates who are
		well-rounded, entry-level software developers. We offer classes in virtually every aspect
		of technology, including: coding, data science, cyber security, design and more.
	</p>
	<hr class="my-4">
	<h3>Co-Founders:</h3>
	<p>
		The Tech Academy was co-founded by Jack Stanley and Erik Gross.
		With years of executive and managerial experience, Jack has overseen
		The Tech Academy since its inception. His background in teaching and 
		curriculum development contributed greatly to the creation of The Tech Academy’s boot camps.
		As the Co-Founder and chairman of the school’s Board of Directors, he supervises
		the day-to-day activities and long-term planning for The Tech Academy. 
		He additionally creates and approves all curriculum and school policies.
		Erik has been working in technology since the 1980s. As a nuclear reactor
		operator and teacher in the Navy, he mastered a multitude of technologies.
		His years of experience as a senior-level software developer were key to
		the development of The Tech Academy’s boot camps. As the other Co-Founder
		of The Tech Academy, Erik assists in curriculum oversight and public relations.
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>History</h2>
		<p>
			It was in the Navy that Erik discovered his passion for teaching. After his
			service, Erik continued to advance his technological skills - coding throughout
			the 1990s and 2000s. Then in 2012, Erik Gross started his own software
			development company called Prosper I.T. Consulting.
			He quickly found that he could use assistance with some of the more
			basic tasks and so looked for junior-level software developers to assist
			him in his efforts. He took it upon himself to begin training his own entry-level
			software developers to assist with basic tasks on various development projects.
		</p>
	</div>
	<div class="col-md-4">
		<h2>Prosper IT Academy</h2>
		<p>
			One day in 2013, Erik’s son came home and said, “Dad, I want to do a developer boot camp.”
			It was then that Erik decided to formalize the training, and so he founded Prosper I.T. Academy.
			In the beginning, the school had four students and was located in Beaverton, Oregon.
			Erik quickly found that there was much more to running a school than simply training
			students. Operating a school included: curriculum, legal, marketing, sales, HR, and
			a myriad of other activities that Erik had little or no experience in. Even with only
			four students, it was a struggle to balance training them with all the other duties
			involved in the day-to-day actions of a company – not to mention the existing software 
			contracts on Erik’s plate at the time.
		</p>
	</div>
	<div class="col-md-4">
		<h2>The Tech Academy is born</h2>
		<p>
			One of the first things that Jack did was change the name of the school from Prosper I.T. 
			Academy to The Tech Academy because, based on survey, The Tech Academy was a better name. 
			Jack immediately got to work on all the basic establishment actions required of any school 
			or successful company, from licensing to ensuring a scalable curriculum was developed. 
			The rest is history. The Tech Academy now stands as one of the most successful code schools 
			in the world, with hundreds of graduates now working in technical positions across the world.
		</p>
	</div>
</div>
<br />
<br />
<br />
