
@{
	ViewBag.Title = "Sources";
}

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-4">Sources:</h1>
		<p class="lead">This is our source page for online documentation regarding curriculumn taught at this school.</p>
		<p>So far, this is just a few of the many sources our instructos highly recommend.</p>
	</div>
</div>

<hr class="my-4">

<a type="button" class="btn btn-primary bn-lg btn-block" href="https://www.w3schools.com/" role="button">W3 Schools</a>


<hr class="my-4">

<a type="button" class="btn btn-primary bn-lg btn-block" href="https://stackoverflow.com/" role="button">Stack Overflow</a>


<hr class="my-4">

<a type="button" class="btn btn-primary bn-lg btn-block" href="https://dotnet.microsoft.com" role="button">Dot Net Documentation</a>


<hr class="my-4">

<a type="button" class="btn btn-primary bn-lg btn-block" href="https://www.python.org/doc/" role="button">Python Documentation</a>
